/* .tab.active {
  box-shadow: inset -3em 3em #00000036, 0 0 0 0px #00000036,
    0.3em 0.3em 1em hsla(0, 0%, 0%, 0.212) !important;
}

.monaco-editor .sticky-line-content,
.monaco-editor .sticky-line-number {
  background-color: black;
}

.monaco-editor .sticky-line-content {
  background-color: black;
} */

/* .monaco-workbench
  .part.editor
  > .content
  .editor-group-container
  > .title
  .breadcrumbs-below-tabs
  .breadcrumbs-control {
  background-color: #00000036;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
} */

/* .monaco-breadcrumbs .monaco-breadcrumb-item .codicon-breadcrumb-separator {
  color: var(--vscode-icon-foreground);
}

.monaco-inputbox,
.monaco-selectbox,
.settings-editor
  > .settings-body
  > .settings-tree-container
  .setting-item-contents
  .monaco-select-box,
.monaco-inputbox.idle {
  background: var(--noise-bg) repeat var(--quick-input-widget-bg) !important;
  background-blend-mode: exclusion;
  border-radius: var(--border-radius);
  box-shadow: var(--depth-16) !important;
  -webkit-backdrop-filter: var(--backdrop-filter);
  backdrop-filter: var(--backdrop-filter);
  color: var(--foreground) !important;
}

.monaco-workbench .xterm .xterm-scrollable-element {
  background: transparent;
}

.monaco-editor .monaco-resizable-hover > .monaco-hover {
  background: var(--noise-bg) repeat var(--quick-input-widget-bg) !important;
  background-blend-mode: exclusion;
  border-radius: var(--border-radius);
  box-shadow: var(--depth-16) !important;
  -webkit-backdrop-filter: var(--backdrop-filter);
  backdrop-filter: var(--backdrop-filter);
  color: var(--foreground) !important;
  border-radius: 10px;
  border-width: 0px;
}

.xterm-scrollable-element {
  background-color: var(--card-bg) !important;
}

.monaco-editor .sticky-line-content {
  background-color: #0c0912;
}

.monaco-editor .sticky-line-content,
.monaco-editor .sticky-line-number {
  background-color: #0c0912;
}

.sticky-widget {
  border-top-left-radius: 0px;
}

.monaco-editor,
.monaco-editor-background {
  background: #0c0912;
}

.monaco-editor .monaco-resizable-hover > .monaco-hover {
  height: -webkit-fill-available;
}

.monaco-hover {
  width: max-content !important;
  height: max-content !important;
  max-width: max-content !important;
  max-height: max-content !important;
  --vscode-hover-maxWidth: max-content !important;
}

.monaco-hover-content {
  width: fit-content !important;
  height: fit-content !important;
  max-width: fit-content !important;
  max-height: fit-content !important;
}

.monaco-hover .markdown-hover > .hover-contents:not(.code-hover-contents) {
  max-width: fit-content !important;
}

.visible.scrollbar.vertical {
  right: 0px !important;
  width: 6px !important;
}

.slider {
  border-radius: 15px !important;
  width: 6px !important;
}

.monaco-workbench .part.panel.bottom > .content {
  background: #0f0b17 !important;
}

.monaco-workbench .pane-body.integrated-terminal .xterm {
  background: transparent !important;
}

.xterm-scrollable-element {
  background-color: transparent !important;
}

canvas.xterm-decoration-overview-ruler {
  width: 6px !important;
}

.split-view-view .editor-container {
  background-color: #00000036 !important;
}

.monaco-pane-view .pane > .pane-header {
  background: #0f0b17 !important;
}

.quick-input-widget,
.editor-widget {
  background: var(--noise-bg) repeat #0c0c0c7d !important;
  background-blend-mode: exclusion;
  border-radius: var(--border-radius);
  box-shadow: var(--depth-16) !important;
  backdrop-filter: var(--backdrop-filter);
  color: var(--foreground) !important;
} */

/* menu */
/* 
.monaco-menu {
  background: var(--noise-bg) repeat #0c0c0c43 !important;
  background-blend-mode: exclusion;
  border-radius: var(--border-radius);
  box-shadow: var(--depth-16) !important;
  backdrop-filter: var(--backdrop-filter);
  color: var(--foreground) !important;
}

.monaco-workbench .monaco-menu .monaco-action-bar.vertical,
.context-view.monaco-menu-container {
  background: transparent !important;
  background-color: transparent !important;
}

.monaco-scrollable-element {
  background-color: transparent !important;
}

.input .empty {
  background-color: white !important;
}

.monaco-workbench .part.panel .monaco-inputbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.monaco-inputbox > .ibwrapper {
  background: #0f0b17 !important;
}

.monaco-inputbox,
.monaco-selectbox,
.settings-editor
  > .settings-body
  > .settings-tree-container
  .setting-item-contents
  .monaco-select-box,
.monaco-inputbox.idle {
  padding: 0px !important;
}

.monaco-inputbox,
.monaco-selectbox,
.settings-editor
  > .settings-body
  > .settings-tree-container
  .setting-item-contents
  .monaco-select-box,
.monaco-inputbox.idle {
  padding: 1.3px 2px !important;
}

.monaco-inputbox,
.monaco-selectbox,
.settings-editor
  > .settings-body
  > .settings-tree-container
  .setting-item-contents
  .monaco-select-box,
.monaco-inputbox.idle {
  background: var(--noise-bg) repeat #0f0b17 !important;
}

.monaco-action-bar .action-item.checked,
.monaco-action-bar .action-item:hover {
  border-radius: 0px !important;
}

.monaco-action-bar .action-item {
  border-radius: 0px !important;
}

.monaco-action-bar .action-item.checked,
.monaco-action-bar .action-item:hover {
  border-top-left-radius: var(--border-radius) !important;
  border-top-right-radius: var(--border-radius) !important;
}

li.action-item.icon.checked {
  border-bottom-left-radius: var(--border-radius) !important;
  border-bottom-right-radius: var(--border-radius) !important;
}

li.action-item.icon:hover {
  border-bottom-left-radius: var(--border-radius) !important;
  border-bottom-right-radius: var(--border-radius) !important;
}

.monaco-workbench .monaco-menu .monaco-action-bar.vertical,
.context-view.monaco-menu-container {
  border: var(--border) !important;
  box-shadow: var(--flyout-shadow) !important;
  border-radius: var(--border-radius) !important;
  background: unset;
  background-blend-mode: exclusion;
  backdrop-filter: var(--backdrop-filter);
} */

/* vscode-file://vscode-app/c:/Users/ALIKA/AppData/Local/Programs/Microsoft%20VS%20Code/resources/app/out/media/code-icon.svg */
